{% extends 'dashboard_admin.html' %}

{% block title %}Eliminar Presupuesto{% endblock %}

{% block content %}
    <h1>Eliminar Presupuesto</h1>
    <p>¿Estás seguro de que deseas eliminar este presupuesto?</p>

    <ul>
        <li><strong>Fecha de Emisión:</strong> {{ budget.emission_date }}</li>
        <li><strong>Cliente:</strong> {{ budget.client }}</li>
        <li><strong>Precio de Venta:</strong> {{ budget.sale_price }}</li>
    </ul>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
        <a href="{% url 'budget_list' %}">Cancelar</a>
    </form>
{% endblock %}
