{% extends 'base2.html' %}

{% block title %}Lista de Clientes{% endblock %}



{% block content %}


    <h1>Lista de Clientes</h1>

    {% if clients %}
        <table class="table table-hover table-bordered shadow-sm mt-4">
            <thead class="table-primary">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.first_name }}</td>
                        <td>{{ client.paternal_last_name }}</td>
                        <td>{{ client.maternal_last_name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone_number }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'client_detail' client.pk %}" role="button"> Ver</a>
                            <a class="btn btn-info" href="{% url 'client_update' client.pk %}" role="button"> Modificar</a>
                            <a class="btn btn-danger" href="{% url 'client_delete' client.pk %}" role="button"> Eliminar</a>
                          
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Paginación -->
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
    {% endif %}

    <style>
        .table {
        border-radius: 10px;
        overflow: hidden;
    }
    
        .table thead {
        background: #114fac;
        color: rgb(0, 0, 0);
        font-weight: bold;
    
    }
    
        .table tbody tr:hover {
        background: #6c86a0;
        transition: 0.3s ease-in-out;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    
        .table td,
        .table th {
        padding: 12px;
        text-align: center;
        vertical-align: middle;
    }
    
        .btn {
        border-radius: 5px;
        padding: 6px 12px;
    }

    </style>
    
    
{% endblock %}
