{% extends 'dashboard_admin.html' %}

{% block title %}Detalles del Cliente{% endblock %}

{% block content %}
    <h1>Detalles del Cliente</h1>

    <p><strong>Nombre:</strong> {{ client.first_name }}</p>
    <p><strong>Apellido Paterno:</strong> {{ client.paternal_last_name }}</p>
    <p><strong>Apellido Materno:</strong> {{ client.maternal_last_name }}</p>
    <p><strong>Email:</strong> {{ client.email }}</p>
    <p><strong>Teléfono:</strong> {{ client.phone_number }}</p>

    <a href="{% url 'client_list' %}">Volver a la Lista</a>
    <a href="{% url 'client_update' client.pk %}">Editar</a>
    {% if is_admin %}
        <a href="{% url 'client_delete' client.pk %}">Eliminar</a>
    {% endif %}
{% endblock %}
